<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="card col-lg-6 mb-4 m-2 shadow" style="width: 18rem;">
      <form class="form login-form">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <label class="form-label">Email</label>
          <input class="form-input" type="text" id="email" />
          <label class="form-label">Password</label>
          <input class="form-input" type="password" id="password" />
          <button class="btn btn-dark m-2" type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="card col-lg-6 mb-4 m-2 shadow" style="width: 18rem;">
      <form class="form signup-form">
        <div class="card-body">
          <h5 class="card-title">Signup</h5>
          <label class="form-label">Username</label>
          <input class="form-input" type="text" id="name" />
          <label class="form-label">Email</label>
          <input class="form-input" type="text" id="emailNew" />
          <label class="form-label">Password</label>
          <input class="form-input" type="password" id="passwordNew" />
          <button class="btn btn-dark m-2" type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>